################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CICDTestProject
ClientApp/node_modules/
ClientApp/.angular/

/.vs